
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">
              My Profile
            </h6>
          </div>
          <div class="card-body">



            <tr>
              <td>Name   </td><td>:&nbsp; Naveen  </td> 
            </tr>
            <tr>
              <td>Email  </td><td>:&nbsp; unaveenkumar4g@gmail.com</td> 
            </tr>
            <tr>
              <td>Role   </td><td>:&nbsp; Software Engineer-I</td> 
            </tr>
            <tr>
              <td>Phone   </td><td>:&nbsp; 8886014838</td> 
            </tr>
            
             
                  
                <!-- <tr>
                  <td>Name   </td><td>: {{me.name}}</td> 
                </tr>
                <tr>
                  <td>Email  </td><td>: {{me.email}}</td> 
                </tr>
                <tr>
                  <td>Role   </td><td>: {{me.phone}}</td> 
                </tr>
                <tr>
                  <td>Phone   </td><td>: {{me.role}}</td> 
                </tr> -->
                <!-- <li>Email  : {{me.email}}</li>
                <li>Phone  : {{me.phone}}</li>
                <li>Role   : {{me.role}}</li> -->
                
              
              <button class="btn btn-success btn-sm form-control mb-3 " type="button" (click)="logout()">Logout</button>
              <button class="btn btn-success btn-sm form-control mb-3" type="button" (click)="logoutAll()">LogoutAll</button>
              <button class="btn btn-success btn-sm form-control" type="button" (click)="logoutAllDevices()">LogoutAll Devices</button>
  
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title">
               Reset Password
              </h6>
            </div>
            <div class="card-body">
              <form (ngSubmit)="resetPassword()">
                <div class="form-group mb-3">
                  <input
                    type="password"
                    class="form-control"
                    name="oldPassword"
                    placeholder="Old Password"
                  />
                </div>
            
                <div class="form-group mb-3">
                  <input
                    type="password"
                    class="form-control"
                    name="newPassword"
                    placeholder="New Password"
                  />
                </div>
                
                <button class="btn btn-success btn-sm form-control mb-3 " type="submit">Update Password</button>
              </form>
            </div>
          </div>
    </div>

    <button  class="btn btn-info btn-sm form-control mb-3 " (click)='back()'>Back To Maps</button>
  </div>