button.btn-success:disabled{
    background-color:white;
    color: black;
}
col-md-12{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    height: 100vh;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
