.row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
  }
  .email{
      text-transform: lowercase;
  }
  .container{
      width: 600px;
  }
  h4{
    text-transform: uppercase;
  }
  .btn-primary{
      float: right;
      text-transform: uppercase;
      color: #ffffff;
  } 