<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Register page</div>
                <div class="card-body">
                    <form [formGroup]='registrationForm' (ngSubmit)="formSubmit(registrationForm.value)">
                        <div class="form-group">
                            <input class="form-control" formControlName='name' placeholder="Name">
                            <span class="text-danger" *ngIf='registrationForm.controls.name.invalid && registrationForm.controls.name.touched'>
                                <small>name is required</small>
                            </span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" formControlName='phone' placeholder="Phone">
                            <span class="text-danger" *ngIf='registrationForm.controls.phone.invalid && registrationForm.controls.phone.touched'>
                                <small>Phone is required</small>
                            </span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" formControlName='email' placeholder="Email">
                            <span class="text-danger" *ngIf='registrationForm.controls.email.invalid && registrationForm.controls.email.touched'>
                                <small>email is required</small>
                            </span>
                        </div>
                        <div class="form-group">
                            <input type='password' class="form-control" formControlName='password' placeholder="Password">
                            <span class="text-danger" *ngIf='registrationForm.controls.password.invalid && registrationForm.controls.password.touched'>
                                <small>password is required</small>
                            </span>
                        </div>
                        <div class="form-group">
                            <button class='btn-primary' type="submit" [disabled]='registrationForm.invalid'> Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


