
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary{
    float: right;
    text-transform: uppercase;
}.container{
    width: 600px;
    padding-top: 5%;
}
.email{
      text-transform: lowercase;
  }
button.btn-primary:disabled{
    background-color:white;
    color: black;
}