button.btn-success:disabled{
    background-color:white;
    color: black;
}
.row{
    height: 100vh;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// .card{
//     width: '30 rem';
// }