<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="card">
                    <div class="card-header">
                        <h4>registration page</h4>
                    </div>

                    <div class="card-body">

                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" formControlName="name" type="text" placeholder="Enter your name"
                                required />
                            <span class="text-danger"
                                *ngIf="registerForm.controls.name.touched && !registerForm.controls.name.valid">
                                <small>name is required</small>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control email" formControlName="email" type="email"
                                placeholder="Enter your email" required />
                            <span class="text-danger"
                                *ngIf="registerForm.controls.email.touched && !registerForm.controls.email.valid">
                                <small>email is required</small>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" formControlName="password" type="password"
                                placeholder="Enter your password" required />
                            <span class="text-danger"
                                *ngIf="registerForm.controls.password.touched && !registerForm.controls.password.valid">
                                <small>enter your password</small>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Number</label>
                            <input class="form-control" formControlName="phone" type="number"
                                placeholder="Enter your number" required />
                            <span class="text-danger"
                                *ngIf="registerForm.controls.phone.touched && !registerForm.controls.phone.valid">
                                <small>number is required</small>
                            </span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Register</button>
                        <a [routerLink]="['/login']">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>