<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>login</h4>
                </div>
                <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
                <div class="card-body">
                   
                        <div class="form-group">
                            <input class="form-control email" formControlName="email"  type="email" placeholder="Email" required/>
                            <span class="help-block text-danger" *ngIf="ngForm.controls.email.touched && !ngForm.controls.email.valid">
                                <small>email is required</small>
                              </span>
                        </div>
                        <div class="form-group mt-3">
                            <input class="form-control" formControlName="password" type="password" placeholder="Password" required/>
                            <span class="help-block text-danger" *ngIf="ngForm.controls.password.touched && !ngForm.controls.password.valid ">
                                <small>password is required</small>
                              </span>
                        </div>
                </div>
                <div class="card-footer">
                    <a [routerLink]="['/registration']">Register</a>
                    <div> <button type="submit" class="btn btn-primary">Login</button>
                    </div> 
                    <a [routerLink]="['/change-password']">forget password</a>
                </div>
            </form>
            </div> 
        
        </div> 
    </div>
</div>